{% extends 'miapp/home.html' %}

{% block titulo %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Magnus Lab</h1>
            <p class="lead fw-normal text-white-50 mb-0">Agregar Productos</p>
        </div>
    </div>
</header>

{% endblock titulo %}

{% block productos %}
{% if request.user.is_superuser %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
</form>
{% else %}
<br/><br/><br/><br/><br/><br/>
<div class="text-center text-black">
    <h5>Tienes que ser un usuario admin para agregar productos<h5>
<div>
<br/>
<br/><br/><br/><br/><br/><br/>
{% endif %}
{% endblock productos %}