{% extends 'miapp/home.html' %}

{% block titulo %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Magnus Lab</h1>
            <p class="lead fw-normal text-white-50 mb-0">Busqueda de productos</p>
        </div>
    </div>
</header>

{% endblock titulo %}

{% block productos %}

<form action="{% url 'buscarProductos' %}" method="get">
    {% csrf_token %}
    <br>
    <p>Busqueda: <input type="text" name="buscarP1" id="buscarP1"></p>
    <input type="submit" value="Buscar">
</form>

{% endblock productos %}