<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register | MagnusLab </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registrarse</h2>
    <form method="post" action="{% url 'registro' %}">
      {% csrf_token %}
      <div class="input-box">
        <label for="nombre_completo"></label>
        <input type="text" name="nombre_completo" placeholder="Nombre y apellido" required>
      </div>
      <div class="input-box">
        <label for="email"></label>
        <input type="email" name="email" placeholder="Correo electronico" required>
      </div>
      <div class="input-box">
        <label for="contraseña"></label>
        <input type="password" name="contraseña" placeholder="Crear contraseña" required>
      </div>
      <div class="input-box">
        <label for="confirmar contraseña"></label>
        <input type="password" name="confirmar_contraseña" placeholder="Confirmar contraseña" required>
      </div>
      <div class="policy">
        <input type="checkbox" required>
        <h3>Acepto terminos y condiciones</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Registrarse">
      </div>
      <div class="text">
        <h3>Ya tienes una cuenta? <a href="{%url 'login' %}">Loguearse</a></h3>
      </div>
    </form>
    
