{% extends 'miapp/home.html' %}

{% block titulo %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Magnus Lab</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenido a soporte</p>
        </div>
    </div>
</header>

{% endblock titulo %}



{% block productos %}
<br>

<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <a href="{% url 'reportes' %}" class="btn btn-success">Hacer un reporte</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del reporte</th>
            <th>Problematica</th>
            <th>email</th>
        </tr>
        
    </thead>
    <tbody>
    {% for reporte in reportes %}
        <tr>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.problematica }}</td>
            <td>{{ reporte.email }}</td>
            {% if request.user.is_superuser %}
            <td>
                <a
                  href="{% url 'actualizarSoporte' reporte.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'eliminarSoporte' reporte.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
              </td>
              {% endif %}
        </tr>
        
    {% endfor %}
    
    </tbody>
</table>
{% endblock productos %}